*{
    padding: 0;
    margin: 0;
}

.viewport{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.card{
    max-width: 400px;
    overflow: hidden;
    border-radius: 0.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0em 0em 1em 0.5em rgb(0,0,0, 0.2);
    border: 0px solid #CCC;
}