@media (width: 360px){
    article{
        background-color: red;
    }
}
@media (min-width: 35em){
    article{
        background-color: yellow;
    }
}
@media (max-width: 50em){
    article{
        border: 2px solid blue;
    }
}