body{
    background-color: lightslategray;
}
p{
    Width: 300px;
    Padding: 20px;
    margin: auto;
    background-color: #0F4069;
    color: whitesmoke;
    border: solid 2px #e6e6e6;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}