body{
    line-height: 1.5;
    font-size: 16px;
    font-family: sans-serif;
    background-color: rgb(238, 238, 238); 
    padding: 4em;  
}
article{
    max-width: 58em;
}
.underline{
    border-bottom: 2px solid black;
}
header p a{
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
img{
    margin-left: 2em;
    padding: 0.3em;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 1em 0.5em rgb(0, 0, 0, 0.25);
}
header nav li{
    display: inline-block;
}
header nav li a{
    color: lightgreen;
}
header nav{
    float: right;
    margin-top: 2em;
}
header nav li {
    padding: 0 0.5em;
}
header p,
header nav
{
    display: inline-block;
}

.elevator-right{
    float: right;
}
.elevator-left{
    float: left;
    margin: 1.5em;
}

.left-side{
    float: left;
    max-width: 25em;
    border-right: 2px solid lightgray;
    padding-right: 3.5em;
}
.right-side{
    max-width: 25em;
    float: right;
    font-family: Georgia, serif;
}
.author{
    position: relative;
    right: -270px;
}
main, aside{
    display: inline-block;
}
aside {
    vertical-align: top;
    padding: 0.2em 0 0 3em;
}

aside li a{
    color: #090;
    text-decoration: none;
}